
.texto-verde {
    color: #4CAF50; 
}

.texto-vermelho {
    color: #FF4136; 
}

.texto-azul {
    color: #007BFF; 
}

.texto-amarelo {
    color: #FFC107; 
}

.texto-laranja {
    color: #FF5722; 
}

.texto-rosa {
    color: #E91E63; 
}
